<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @logo.name %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @logo.belongs_to %>
</p>

<%= link_to 'Edit', edit_logo_path(@logo) %> |
<%= link_to 'Back', logos_path %>
